name: "AI Agent Evaluation Modern AI Foundry"

on:
  workflow_dispatch:


permissions:
  id-token: write
  contents: read

jobs:
  run-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure login using Federated Credentials
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: SetUp Python And package
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: sudo -H pip3 install packaging

      - name: Run Evaluation
        uses: microsoft/ai-agent-evals@v2-beta
        with:
          # Replace placeholders with values for your Azure AI Project
          azure-ai-project-endpoint: "https://davihern-7714-resource.services.ai.azure.com/api/projects/davihern-7714"
          deployment-name: "gpt-4o"
          agent-ids: "asst_NgH2ecpcILg5MgZkY9PQoINr"
          data-path: ${{ github.workspace }}/datafile.json
